<mat-table [dataSource]="crewList" class="mat-elevation-z8">
  
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let crew"> {{ crew.firstName }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let crew"> {{ crew.lastName }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let crew"> {{ crew.title }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="nationality">
      <mat-header-cell *matHeaderCellDef> Nationality </mat-header-cell>
      <mat-cell *matCellDef="let crew"> {{ crew.nationality }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="daysOnBoard">
      <mat-header-cell *matHeaderCellDef> Days On Board </mat-header-cell>
      <mat-cell *matCellDef="let crew"> {{ crew.daysOnBoard }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="dailyRate">
      <mat-header-cell *matHeaderCellDef> Daily Rate </mat-header-cell>
      <mat-cell *matCellDef="let crew"> {{ crew.dailyRate }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="currency">
      <mat-header-cell *matHeaderCellDef> Currency </mat-header-cell>
      <mat-cell *matCellDef="let crew"> {{ crew.currency }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="totalIncome">
      <mat-header-cell *matHeaderCellDef> Total Income </mat-header-cell>
      <mat-cell *matCellDef="let crew"> {{ crew.totalIncome }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="certificates">
      <mat-header-cell *matHeaderCellDef> Certificates </mat-header-cell>
      <mat-cell *matCellDef="let crew">
        <button mat-button >View Certificates</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let crew">
          <button mat-button style="margin-right: 2px;">Delete</button>
          <button mat-button style="margin-right: 2px;">Edit</button>
          <button mat-button >Detail</button>

        </mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: visibleColumns;"></mat-row>
  </mat-table>
  