.table-container {
    padding-left: 50px;
    padding-right: 30px;
    width: calc(100% - 20px); 
    overflow-x: auto; 
    overflow-y: hidden; 
    box-sizing: border-box; 
  }

  input {
    max-width: 80px; 
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    position: absolute;
    top: 120px;
    white-space: nowrap;
  }

  .actionButton{
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .button-container{
    padding-left: 50px;
    padding-top: 50px;
  }