<div class="button-container">
    <button mat-raised-button color="primary" style="margin-right: 5px;" (click)="openAddCrewDialog()">
      <mat-icon>add</mat-icon>
      {{"Add Crew" | translate}}</button>
    <button mat-raised-button color="primary" [routerLink]="['certificate-type']">
      <mat-icon>add</mat-icon>
      {{"Add Certificate Type"|translate}}</button>
</div>

<div class="table-container">
  <mat-table [dataSource]="crewList" class="mat-elevation-z8" style="width: 100%;">

        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef> {{"First Name" | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let crew"> {{ crew.firstName }} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef>{{ "Last Name" | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let crew"> {{ crew.lastName }} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> {{"Title" | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let crew"> {{ crew.title }} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="nationality">
          <mat-header-cell *matHeaderCellDef> {{"Nationality" | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let crew"> {{ crew.nationality }} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="daysOnBoard">
          <mat-header-cell *matHeaderCellDef>{{ "Days On Board" | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let crew"> {{ crew.daysOnBoard }} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="dailyRate">
          <mat-header-cell *matHeaderCellDef> {{"Daily Rate" | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let crew"> {{ crew.dailyRate }} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="currency">
          <mat-header-cell *matHeaderCellDef> {{"Currency" | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let crew"> {{ crew.currency }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="discount">
            <mat-header-cell *matHeaderCellDef> {{ 'Discount' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let crew">
              <input matInput type="number" [(ngModel)]="crew.discount" (input)="discountIncome(crew.discount,crew.id)"  min="0" max="100" required #discountInput="ngModel"  >
              <mat-error *ngIf="discountInput?.errors?.['min'] || discountInput?.errors?.['max']" class="error-message">
                {{ 'Discount must be between 0 and 100' | translate }}
              </mat-error>
            </mat-cell>
          </ng-container>
          
        <ng-container matColumnDef="totalIncome">
          <mat-header-cell *matHeaderCellDef>{{ "Total Income" | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let crew"> {{ crew.totalIncome }} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="certificates">
          <mat-header-cell *matHeaderCellDef> {{"Certificates" | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let crew">
            <button  mat-raised-button (click)="openCertificatesDialog(crew.id)">
              <mat-icon>visibility</mat-icon>
              {{"View Certificates"| translate}}</button>
          </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> {{"Actions" | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let crew">
                <div style="text-align: center;">
                <button class="actionButton" mat-raised-button (click)="DeleteCrew(crew.id)">
                  <mat-icon>delete</mat-icon>
                  {{"Delete"| translate}}</button>
              <button class="actionButton" mat-raised-button (click)="openEditCrewDialog(crew.id)">
                <mat-icon>edit</mat-icon>
                {{"Edit"| translate}}</button>
              <button class="actionButton" mat-raised-button [routerLink]="['/detay', crew.id]">
                <mat-icon>visibility</mat-icon>
                {{ "Detail" | translate }}</button>    
                </div>
          
            </mat-cell>
          </ng-container>
      
        <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: visibleColumns;"></mat-row>
      </mat-table>

      <div style="margin-top: 10px;">
        <p><strong>{{"Total Income"|translate}}</strong></p>
        <div *ngFor="let currency of currencies">
            <p>{{ currency }}: {{ totalIncomeByCurrency[currency] | currency:currency }}</p>
        </div>
      </div>
</div>

      
