.popupTitleContainer {
    background-color: #ba005c;
    height: 50px;
    width: 100%;
    padding: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.popupTitle {
    margin: 0;
    color: white;
}

.popupCloseButton {
    margin-right: 10px;
    margin-left: auto; 
    color: white;
}