
<button mat-raised-button color="primary" [routerLink]="['']">{{"Back"|translate}}</button>
<h4>{{ 'Add Certificate Type' | translate }}</h4>

<form [formGroup]="certificateTypeForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" style="margin: 10px;">
    <mat-label>{{ 'Type' | translate }}</mat-label>
    <input matInput formControlName="type" required>
    <mat-error *ngIf="certificateTypeForm.get('type')?.hasError('required')">
      {{ 'Type is required' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin: 10px;">
    <mat-label>{{ 'Description' | translate }}</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="!certificateTypeForm.valid">
    {{ 'Add' | translate }}
  </button>
</form>
